@import '_variables.scss';
@import '_mixins.scss';

.presentation {
    padding: 40px;
    color: $dark;
    background-color: $light;
    height: 60vh;
    
}

.competence {
    background-color: $dark;
    color: $light;
    height: 80vh;
    padding: 40px;
    .titre-competence {
        color: $light;
    }
    .competence-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding-top: 3%;
        //background-color: rgb(150, 59, 101);
        h3 {
            text-align: center;
            padding-top: 5%;
            padding-bottom: 10%;
        }
        .langage {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: $light;
            color: $dark;
            width: 300px;
            height: 300px;
            padding: 10px 50px 20px;
            
           //background-color: yellowgreen;
        }
        .framework {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: $dark;
            background-color: $light;
            width: 300px;
            height: 300px;
            padding: 10px 50px 20px;
            //background-color: salmon;
        }
    }
}

h2 {
    color: $dark;
    text-align: center;
}

