@import '_variables.scss';
@import '_mixins.scss';

.projet {
    padding: 40px;
    .projet-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
        gap: 5px 5px;
        grid-template-areas:
        "projet-items"
        "projet-image"
        "projet-texte";
        justify-content: center;
        align-items: center;
        text-align: center;
        h4 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        a {
            text-align: left;
        }
        .projet-item{
            padding: 15px;
            border-radius: 30px;
            width: 85%;
            //height: 50vh;
            overflow: hidden;
        }
        .projet-image{
            width: 300px;
            height: auto;
        }
    }
        .projet-text{
            opacity: 0;
        }
        .projet-item:hover .projet-image{
            opacity: 0;
            transform: translateY(100px);
        }
        .projet-item:hover .projet-text{
            opacity: 1;
            transform: translateY(-100px);
    }
}
