@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap');


$dark: #242540;
$light-dark: #4a406c;
$middle: #7c61cf;
$light: #eeeffa;

$font-title: 'Merriweather Sans', sans-serif, 'Montserrat', sans-serif, 'Nunito', sans-serif;
$font-global: 'Montserrat', sans-serif;

$font-size-title: 3em;
$font-size-global: 1.6em;