@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
.projet {
  padding: 40px;
}
.projet .projet-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  gap: 5px 5px;
  grid-template-areas: "projet-items" "projet-image" "projet-texte";
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projet .projet-container .projet-item {
  padding: 15px;
  border-radius: 30px;
  width: 85%;
  overflow: hidden;
}
.projet .projet-container .projet-image {
  width: 200px;
  height: auto;
}
.projet .projet-text {
  opacity: 0;
}
.projet .projet-item:hover .projet-image {
  opacity: 0;
  transform: translateY(100px);
}
.projet .projet-item:hover .projet-text {
  opacity: 1;
  transform: translateY(-100px);
}

.presentation {
  padding: 40px;
  color: #242540;
  background-color: #eeeffa;
  height: 60vh;
}

.competence {
  background-color: #242540;
  color: #eeeffa;
  height: 80vh;
  padding: 40px;
}
.competence .titre-competence {
  color: #eeeffa;
}
.competence .competence-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 3%;
}
.competence .competence-container h3 {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
}
.competence .competence-container .langage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #eeeffa;
  color: #242540;
  width: 300px;
  height: 300px;
  padding: 10px 50px 20px;
}
.competence .competence-container .framework {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #242540;
  background-color: #eeeffa;
  width: 300px;
  height: 300px;
  padding: 10px 50px 20px;
}

h2 {
  color: #242540;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  background-color: #4a406c;
  z-index: 6;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #eeeffa;
  font-size: 1.6em;
}

.banniere {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #eeeffa;
  background-color: #4a406c;
  height: 80vh;
  width: 100%;
}
.banniere .accueil {
  z-index: 6;
}
.banniere .photo1 {
  z-index: 5;
}
.banniere h1 {
  font-size: 70px;
  line-height: normal;
}
.banniere p {
  font-size: 35px;
  line-height: 3;
}
.banniere .logo {
  width: 40px;
  height: auto;
  margin-right: 15px;
  cursor: pointer;
}
.banniere .photo {
  height: auto;
  width: 250px;
  border-radius: 50%;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .banniere .photo {
    width: 150px;
    height: auto;
  }
  .banniere h1 {
    font-size: 35px;
  }
  .banniere p {
    font-size: 20px;
  }
}
.banniere .custom-shape-divider-bottom-1646578205 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*overflow: hidden;*/
  line-height: 0;
  transform: rotate(180deg);
  z-index: 4;
}
.banniere .custom-shape-divider-bottom-1646578205 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 250px;
  background-color: #4a406c;
  z-index: 4;
}
.banniere .custom-shape-divider-bottom-1646578205 .shape-fill {
  fill: #EEEFFA;
}

@media (max-width: 400px) {
  a {
    font-size: 5px;
  }
}
footer {
  background-color: #4a406c;
  color: #eeeffa;
  height: 54vh;
  width: 100%;
  bottom: 0;
}
footer .titre-contact {
  color: #eeeffa;
}

#contact {
  width: 400px;
  margin: 0 auto;
  margin-top: 5%;
}
#contact .titre-contact {
  padding-top: 6%;
}
#contact form {
  padding: 10%;
}
#contact select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #eeeffa;
  box-sizing: border-box;
}
#contact textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #eeeffa;
  box-sizing: border-box;
}
#contact input[type=email], #contact input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #eeeffa;
  box-sizing: border-box;
}
#contact input[type=submit] {
  background-color: #eeeffa;
  color: #242540;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#contact input[type=submit]:hover {
  background-color: #242540;
  color: #eeeffa;
  border: 1px solid #4a406c;
}

/*# sourceMappingURL=style.css.map */
