@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap");
.projet-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
  gap: 5px 5px;
  grid-template-areas: "projet-items" "projet-image" "projet-texte";
  justify-content: center;
  align-items: center;
}
.projet-container .projet-item {
  padding: 15px;
  border-radius: 30px;
  width: 85%;
  height: 50vh;
  overflow: hidden;
}
.projet-container .projet-image {
  width: 200px;
  height: auto;
}

.projet-text {
  opacity: 0;
}

.projet-item:hover .projet-image {
  opacity: 0;
  transform: translateY(100px);
}

.projet-item:hover .projet-text {
  opacity: 1;
  transform: translateY(-100px);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeffa;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  background-color: #4a406c;
  z-index: 6;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header nav li {
  list-style: none;
}
header nav li a {
  text-decoration: none;
  color: #eeeffa;
  font-size: 1.6em;
}

.banniere {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #eeeffa;
  background-color: #4a406c;
  height: 80vh;
}
.banniere .presentation {
  z-index: 6;
}
.banniere .photo1 {
  z-index: 5;
}
.banniere h1 {
  font-size: 70px;
  line-height: normal;
}
.banniere p {
  font-size: 35px;
  line-height: 3;
}
.banniere .logo {
  width: 40px;
  height: auto;
  margin-right: 15px;
  cursor: pointer;
}
.banniere .photo {
  height: auto;
  width: 250px;
  border-radius: 50%;
  z-index: 5;
}
@media screen and (max-width: 500px) {
  .banniere .photo {
    width: 150px;
    height: auto;
  }
  .banniere h1 {
    font-size: 35px;
  }
  .banniere p {
    font-size: 20px;
  }
}
.banniere .custom-shape-divider-bottom-1646578205 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*overflow: hidden;*/
  line-height: 0;
  transform: rotate(180deg);
  z-index: 4;
}
.banniere .custom-shape-divider-bottom-1646578205 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 250px;
  background-color: #4a406c;
  z-index: 4;
}
.banniere .custom-shape-divider-bottom-1646578205 .shape-fill {
  fill: #EEEFFA;
}

.competence {
  z-index: 5;
  margin: 20px;
  width: 500px;
}
.competence h2 {
  font-size: 20px;
  margin: 20px;
  color: #242540;
}

.projet {
  z-index: 5;
  margin: 20px;
}

@media (max-width: 400px) {
  a {
    font-size: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
